
* {
  margin: 0;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet

body {
  margin: auto;
  text-align: left;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #f5f7fa;
  font-size: 12px;
}
body {
  font-family: OpenSans,Open Sans,PingFang SC,Microsoft YaHei,Helvetica Neue,Tahoma,Arial,Helvetica;
  line-height: 1.28571;
  color: #333;
}
html {
  font-size: 100%;
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: auto;
  text-align: left;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #f5f7fa;
  font-size: 12px;
}

body {
  font-family: OpenSans,Open Sans,PingFang SC,Microsoft YaHei,Helvetica Neue,Tahoma,Arial,Helvetica;
  line-height: 1.28571;
  color: #444;
}

html {
  font-size: 100%;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.mycontainer {
  height: 442px;
  max-height: 442px;
  width: 100%;
}

h4 {
  color:#444;
}

textarea {
  max-width: 98%;
}
